<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564196773503-b0bl6efhjk6qfhnudii84r8dhkkgn5g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564196773503-b0bl6efhjk6qfhnudii84r8dhkkgn5g5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564196773503-628v5b9st87tl4p76po9j3adokk507vn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy4iB-WPXAtLE3llb1pgkzTuwEltfzvDE</string>
	<key>GCM_SENDER_ID</key>
	<string>564196773503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamchoi.healthFailureAppf</string>
	<key>PROJECT_ID</key>
	<string>health-failure-prediction-v</string>
	<key>STORAGE_BUCKET</key>
	<string>health-failure-prediction-v.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564196773503:ios:b4171c8c518fc4a8f0394a</string>
</dict>
</plist>